* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #80808029;
    font-family: 'Raleway', sans-serif;
}

.limita-secao {
    max-width: 1024px;
}

/* Seção Topo */
.secao-topo {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0;
}

.secao-topo img{
    max-width: 40px;
    width: 100%;
}

.secao-topo p {
    font-size: 30px;
    color: #5d15d0;
    font-weight: 540;
    padding-left: 8px;
}

/* Seção Formulário */
.secao-fundo-formulario {
    background-image: url('img/bahia.jpg');
    background-image: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.secao-titulo-formulario {
    background-color: #5d15d0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 5px;
}

.secao-titulo-formulario h1 {
    padding-left: 5px;
}

.secao-titulo-formulario img {
    width: 20px;
    transform: rotate(-40deg);
}

.secao-formulario {
    margin: 0 auto;
    padding: 45px 0;
}

.secao-formulario-part2 {
    background-color: #fff;
    padding: 25px;
}

.secao-formulario-part2 h2 {
    margin-bottom: 15px;
}

.formulario1 {
    display: flex;
    flex-direction: column;
}

.formulario1 label, .formulario2 label, .formulario3 label {
    padding-bottom: 5px;
}

.formulario1 input, .formulario2 input, .formulario3 select {
    height: 28px;
    margin-bottom: 8px;
    padding-left: 5px;
}

.formulario2, .formulario3 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.formulario2 div, .formulario3 div {
    display: flex;
    flex-direction: column;
    max-width: 477px;
    width: 100%;
}

.formulario4 {
    display: flex;
    justify-content: space-between;
    max-width: 150px;
    width: 100%;
    margin: 10px 0px;
}

.formulario5 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    width: 40%;
    margin: 10px 0px;
}

button {
    margin-top: 10px;
    background-color: #5d15d0;
    color: #fff;
    padding: 7px;
    border: none;
}

/* Seção ofertas - Seção Natureza */
.secao-ofertas, .secao-natureza {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 32px auto 0 auto; 
}

.ofertas-titulo, .natureza-titulo {
    font-size: 20px;
    margin: 0 0 10px 0;
}

.ofertas-descricao, .natureza-descricao {
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 15px 0;
}

.secao-ofertas-imgs {
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: space-between;
}

.secao-ofertas-img1 {
    position: relative;
    width: calc(50% - 10px);
    height: 100%;
}

.secao-ofertas-img2 {
    width: calc(50% - 10px);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.secao-ofertas-img2 figure {
    position: relative;
    width: calc(50% - 10px);
    height: calc(50% - 10px);
    margin: 0 6px;
}

.secao-ofertas-img1 img, .secao-ofertas-img2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.secao-ofertas-img1 figcaption, .secao-ofertas-img2 figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(0 0 0 / 50%);
    font-size: 17px;
    color: #fff;
    padding: 5px 10px;
}

.secao-natureza-imgs {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.img-natureza {
    width: calc(50% - 10px);
    height: 100%;
}

.img-natureza img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-natureza div {
    width: 100%;
    padding: 20px;
    background: #fff;
    margin-bottom: 30px;
}

.img-natureza h3 {
    font-size: 16px;
}

.img-natureza p {
    font-size: 16px;
    margin: 15px 0 0 0px;
}

/* Seção Rodapé */
.secao-fundo-rodape {
    background-color: #5d15d0;
    width: 100%;
    margin: 32px 0 0 0;
}

.secao-rodape {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.secao-rodape-conteudo {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}

.secao-rodape h2 {
    color: #fff;
    margin: 0 0 15px 0;
    font-size: 20px;
}

.img-icone {
    width: 20px;
}

.secao-rodape-conteudo div {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.secao-rodape-conteudo p {
    color: #fff;
    font-size: 14px;
    margin: 0 0 0 10px;
}
